# CAP extnCertification
_out
*.db
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/
dist/
# MTA
*_mta_build_tmp
*.mtar
mta_archives/
*zip

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
.vscode
.idea

default-env.json